.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center; 
    justify-content: center; 
}

.register-container .content {
    width: 100%;
    padding: 16px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.register-container .content #unFormDiv{
    width: 50%;
}

.register-container .content #unFormDiv .grupoCPF {
    display: flex;
}

.register-container .content #unFormDiv .grupoCPF input + input {
    margin-left: 1px;
}

.register-container .content #unFormDiv .input-radio { 
    padding: 10px;
}

.register-container .content #unFormDiv #perfil { 
    border-radius: 50%;
    width: 18px;
    height: 18px;

    border: 2px solid #0A244A;
    transition: 0.2s all linear;
    margin-right: 5px;
    top: 4px;
    margin: 10px;
}

.register-container .content #unFormDiv #perfil:checked{
    border: 6px solid #0A244A;
}

.register-container .content #unFormDiv label { 
    font-size: 16px;
    color: #737380;
}

.register-container .content section {
    width: 100%;
    max-width: 380px;
    margin-left: 30px;
}

.register-container .content section h1 {
    margin: 30px 0 32px;
    font-size: 32px;
}

.register-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}
